In [48]:
import math
import random

__1) Write a function named capital_indexes. The function takes a single parameter, which is a string. Your function should return a list of all the indexes in the string that have capital letters. For example, calling capital_indexes("HeLlO") should return the list [0, 2, 4].__

In [49]:
word = "HeLlO"

word.find('e')

1

In [50]:
capitals = []

for x in word:
    if x == x.upper():
        capitals.append(word.find(x))
        
capitals

[0, 2, 4]

In [51]:
def capital_indexes(word):
    capitals = []
    for x in word:
        if x == x.upper():
            capitals.append(word.find(x))
    return capitals

capital_indexes(word)

[0, 2, 4]

In [52]:
enum_list = []

for place, letter in enumerate(word):
    enum_list.append([place, letter])

enum_list

[[0, 'H'], [1, 'e'], [2, 'L'], [3, 'l'], [4, 'O']]

In [53]:
capital_places = []

for place, letter in enumerate(word):
    if letter == letter.upper():
        capital_places.append(place)

capital_places

[0, 2, 4]

In [54]:
def capital_indexes2(word):
    capital_places = []
    for place, letter in enumerate(word):
        if letter == letter.upper():
            capital_places.append(place)
    return capital_places

capital_indexes2('TeST')

[0, 2, 3]

__2) Write a function named mid that takes a string as its parameter. Your function should extract and return the middle letter. 
If there is no middle letter, your function should return the empty string.
For example, mid("abc") should return "b" and mid("aaaa") should return "".__

In [55]:
def mid(word):
    if len(word) % 2 == 0:
        return ""
    else:
        mid_pos = math.floor(len(word) / 2)
        return word[mid_pos]

In [56]:
mid('python')

''

In [57]:
mid('kites')

't'

In [58]:
word = 'rat'
word[1]

'a'

In [59]:
math.floor(3.5)

3

__3) Write a function named online_count that takes one parameter. 
The parameter is a dictionary that maps from strings of names to the string "online" or "offline", as seen above.
Your function should return the number of people who are online.__

In [60]:
statuses = {
    "Alice": "online",
    "Bob": "offline",
    "Eve": "online",
}

In [61]:
offline_count = 0
online_count = 0

for x in statuses:
    if statuses[x] == 'online':
        online_count += 1
    else:
        offline_count += 1

online_count

2

In [62]:
def online_count(statuses):
    online_count = 0
    for x in statuses:
        if statuses[x] == 'online':
            online_count += 1
    return online_count

online_count(statuses)

2

__Define a function, random_number, that takes no parameters. The function must generate a random integer between 1 and 100, both inclusive, and return it.__

In [63]:
def random_number():
    return random.randint(1, 100)

random_number()

59

__4) Write a function named only_ints that takes two parameters. 
Your function should return True if both parameters are integers, and False otherwise.__

In [64]:
def only_ints(p1, p2):
    if type(p1) == int and type(p2) == int:
        return True
    else:
        return False

only_ints(2,'a')

False

In [65]:
only_ints(2, 3)

True

__5) Define a function named double_letters that takes a single parameter. The parameter is a string. Your function must return True if there are two identical letters in a row in the string, and False otherwise.__

In [73]:
for place, letter in enumerate(string[:len(string)-1]):
    if letter == string[place + 1]:
        print(place, letter)

1 p

In [80]:
def double_letters(string):
    answer = False
    for place, letter in enumerate(string[:len(string)-1]):
        if letter == string[place + 1]:
            answer = True
    return answer

double_letters('apple')

True

In [81]:
double_letters('card')

False

__6) Write a function named add_dots that takes a string and adds "." in between each letter. For example, calling add_dots("test") should return the string "t.e.s.t". Then, below the add_dots function, write another function named remove_dots that removes all dots from a string. For example, calling remove_dots("t.e.s.t") should return "test". If both functions are correct, calling remove_dots(add_dots(string)) should return back the original string for any string.__

In [7]:
word = 'test'

word = word.replace('','.')

word = word[1:-1]

word

't.e.s.t'

In [9]:
def add_dots(string):
    string = string.replace('','.')
    string = string[1:-1]
    return string
    
add_dots('apple')

'a.p.p.l.e'

In [10]:
word2 = '.m.a.n.'

word2 = word2.replace('.','')

word2

'man'

In [11]:
def remove_dots(string):
    string = string.replace('.', '')
    return string

In [13]:
remove_dots('.m.a.n..')

'man'

In [12]:
remove_dots(add_dots('test'))

'test'

__#7 Define a function named count that takes a single parameter. The parameter is a string. The string will contain a single word divided into syllables by hyphens.__

In [14]:
word = 'ho-tel'

word.split('-')

['ho', 'tel']

In [15]:
len(word.split('-'))

2

In [19]:
def count(word):
    return len(word.split('-'))

count('met-a-phor')

3

__# 8 Write a function named is_anagram that takes two strings as its parameters. Your function should return True if the strings are anagrams, and False otherwise.__

In [32]:
words = ['apple', 'papple', 'car']

words.sort()

words

['apple', 'car', 'papple']

In [48]:
word = 'apple'

sorted(word)

['a', 'e', 'l', 'p', 'p']

In [49]:
def is_anagram(w1, w2):
    if sorted(w1) == sorted(w2):
        return True
    else:
        return False

In [50]:
is_anagram('sheep', 'santa')

False

In [51]:
is_anagram('sheep', 'peesh')

True

__# 9 Write a function that takes a list of lists and flattens it into a one-dimensional list. Name your function flatten. It should take a single parameter and return a list.__

In [52]:
lists = [[1, 2], [3, 4]]

In [61]:
flat_list = []

for l in lists:
    for i in l:
        flat_list.append(i)

flat_list

[1, 2, 3, 4]

In [62]:
def flatten(l_of_lists):
    flat_list = []
    for l in l_of_lists:
        for i in l:
            flat_list.append(i)
    return flat_list

In [63]:
flatten([[1, 2], [3, 4]])

[1, 2, 3, 4]

__#10 Define a function named largest_difference that takes a list of numbers as its only parameter. Your function should compute and return the difference between the largest and smallest number in the list.__

In [69]:
nums = [1, 2, 3, 4]

max(nums) - min(nums)

3

In [70]:
def largest_difference(numbers):
    return max(numbers) - min(numbers)

In [71]:
largest_difference(nums)

3

__#11 Define a function named div_3 that returns True if its single integer parameter is divisible by 3 and False otherwise.__

In [72]:
def div_3(num):
    return num % 3 == 0

In [73]:
div_3(3)

True

In [74]:
div_3(4)

False

__#12 Your task is to write a function that can translate from strings of length 2 to a tuple (row, column). Name your function get_row_col; it should take a single parameter which is a string of length 2 consisting of an uppercase letter and a digit. For example, calling get_row_col("A3") should return the tuple (2, 0) because A3 corresponds to the row at index 2 and column at index 0 in the board.__

In [75]:
board = [
    ["X", "O", "X"],
    [" ", " ", " "],
    ["O", " ", " "],
]

In [76]:
board

[['X', 'O', 'X'], [' ', ' ', ' '], ['O', ' ', ' ']]

In [80]:
board_dict = {'A' : 0, 'B' : 1, 'C' : 2, '1' : 0, '2' : 1, '3' : 2}

In [81]:
board_dict

{'A': 0, 'B': 1, 'C': 2, '1': 0, '2': 1, '3': 2}

In [91]:
board_dict['A']

0

In [86]:
sample_coord = 'A3'

for x in sample_coord:
    print(x)

A
3

In [89]:
list(sample_coord)

['A', '3']

In [94]:
def get_row_col(coords):
    board_dict = {'A' : 0, 'B' : 1, 'C' : 2, '1' : 0, '2' : 1, '3' : 2}
    coords = list(coords)
    return (board_dict[coords[1]],board_dict[coords[0]])

get_row_col('A3')

(2, 0)

__#13 Write a function named palindrome that takes a single string as its parameter. Your function should return True if the string is a palindrome, and False otherwise.__

In [98]:
word = 'hihello'

word[::-1]

'ollehih'

In [99]:
def palindrome(word):
    return word[::-1] == word

In [100]:
palindrome('hello')

False

In [103]:
palindrome('atoyota')

True

__#14 Define a function named up_down that takes a single number as its parameter. Your function return a tuple containing two numbers; the first should be one lower than the parameter, and the second should be one higher.__

In [104]:
def up_down(num):
    return ((num - 1), (num + 1))

up_down(3)

(2, 4)

__#15 Define a function named consecutive_zeros that takes a single parameter, which is the string of zeros and ones. Your function should return the largest number of consecutive 0's__

In [105]:
bi = '010000111100101010011'

bi.split('1')

['0', '0000', '', '', '', '00', '0', '0', '00', '', '']

In [110]:
lengths = [len(x) for x in bi.split('1')]

lengths

[1, 4, 0, 0, 0, 2, 1, 1, 2, 0, 0]

In [111]:
max(lengths)

4

In [115]:
def consecutive_zeros(string):
    return max([len(x) for x in string.split('1')])

In [116]:
consecutive_zeros('010000111100101010011')

4

__#16 Define a function named all_equal that takes a list and checks whether all elements in the list are the same.__

In [120]:
def all_equal(l):
    if len(set(l)) > 1:
        return False
    else:
        return True

In [121]:
all_equal([1,1,1])

True

In [122]:
all_equal([1,1,2])

False

__#17 Define a function named triple_and that takes three parameters and returns True only if they are all True and False otherwise.__

In [125]:
True + False + True

2

In [126]:
def triple_and(a, b, c):
    return a and b and c

In [127]:
triple_and(True, False, True)

False

In [129]:
triple_and(True, True, True)

True

In [131]:
triple_and(1 + 2 == 4, True, True)

False

__#18 Define a function named convert that takes a list of numbers as its only parameter and returns a list of each number converted to a string. For example, the call convert([1, 2, 3]) should return ["1", "2", "3"]. What makes this tricky is that your function body must only contain a single line of code.__

In [133]:
l = [1,2,3]

[int(num) for num in l]

[1, 2, 3]

In [136]:
def convert(l):
    return [str(num) for num in l]

In [137]:
convert(l)

['1', '2', '3']

__#19 The built-in zip function "zips" two lists. Write your own implementation of this function. Define a function named zap. The function takes two parameters, a and b. These are lists. Your function should return a list of tuples. Each tuple should contain one item from the a list and one from b. You may assume a and b have equal lengths.__

In [141]:
a = [0, 1]
b = [2, 3]

zap_list = []

for i in range(0,len(a)):
        zap_list.append((a[i], b[i]))
        
zap_list

[(0, 2), (1, 3)]

In [142]:
def zap(a, b):
    zap_list = []
    for i in range(0,len(a)):
        zap_list.append((a[i], b[i]))
    return zap_list

In [143]:
zap(a,b)

[(0, 2), (1, 3)]

__#20 Write a function named validate that takes code represented as a string as its only parameter.__

Your function should check a few things:

the code must contain the def keyword
otherwise return "missing def"

the code must contain the : symbol
otherwise return "missing :"

the code must contain ( and ) for the parameter list
otherwise return "missing paren"

the code must not contain ()
otherwise return "missing param"

the code must contain four spaces for indentation
otherwise return "missing indent"

the code must contain validate
otherwise return "wrong name"

the code must contain a return statement
otherwise return "missing return"

If all these conditions are satisfied, your code should return True.

__Here comes the twist: your solution must return True when validating itself.__

In [151]:
def validate(s):
    p = '(' + ')'
    if "def" not in s:
        return "missing def"
    elif ":" not in s:
        return "missing :"
    elif "(" not in s or ")" not in s:
        return "missing paren"
    elif p in s:
        return "missing param"
    elif "    " not in s:
        return "missing indent"
    elif "validate" not in s:
        return "wrong name"
    elif "return" not in s:
        return "missing return"
    else:
        return True

In [155]:
p = '(' + ')'

p

'()'

In [152]:
validate('hi')

'missing def'

In [149]:
validate('def')

True

In [150]:
validate('not def')

True

__#21 Define a function named list_xor. Your function should take three parameters: n, list1 and list2. Your function must return whether n is exclusively in list1 or list2. In other words, if n is in both lists or in none of the lists, return False. If n is in only one of the lists, return True.__

In [156]:
def list_xor(n, list1, list2):
    if (n in list1 and n in list2) or (n not in list1 and n not in list2):
        return False
    else:
        return True

In [157]:
list_xor(1, [1,2], [2,3])

True

In [158]:
list_xor(1, [1,2], [1,3])

False

__#22 Define a function param_count that takes a variable number of parameters. The function should return the number of arguments it was called with.__

In [160]:
def param_count(*arg):
    return arg

param_count(1,3)

(1, 3)

In [161]:
param_count()

()

In [162]:
def param_count(*arg):
    return len(arg)

In [163]:
param_count()

0

In [165]:
param_count(1,2,3)

3

__#23 Write a function named format_number that takes a non-negative number as its only parameter. Your function should convert the number to a string and add commas as a thousands separator.__

In [172]:
def format_number(num):
    return str("{:,}".format(num))

In [173]:
format_number(123)

'123'

In [174]:
format_number(1234)

'1,234'

In [175]:
format_number(12344523542)

'12,344,523,542'