# Dictionary Problems

1. Write a Python program to sort (ascending and descending) a dictionary by value.

In [1]:
d = {'a': 4, 'b': 80, 'c': 10, 'd': 2, 'e': 66, 'f': 1}

l = []

for x in d.items():
    l.append(x)
    
l = sorted(l, key=lambda x: x[1])

dict_list = dict(l)

dict_list

{'f': 1, 'd': 2, 'a': 4, 'c': 10, 'e': 66, 'b': 80}

2. Write a Python program to add a key to a dictionary. 

Sample Dictionary : {0: 10, 1: 20}
Expected Result : {0: 10, 1: 20, 2: 30}

In [2]:
d = {0: 10, 1: 20}

def addkey(d, k, v):
    d[k] = v
    return d

addkey(d, 2, 30)

{0: 10, 1: 20, 2: 30}

3. Write a Python program to concatenate following dictionaries to create a new one. 

Sample Dictionary : 
dic1={1:10, 2:20} 
dic2={3:30, 4:40} 
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [3]:
dic1 = {1:10, 2:20} 
dic2 = {3:30, 4:40} 
dic3 = {5:50,6:60}

def combine_d3(a, b, c):
    a.update(b)
    a.update(c)
    return a

combine_d3(dic1, dic2, dic3)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

4. Write a Python program to check whether a given key already exists in a dictionary.

In [1]:
d = {'a': 4, 'b': 80, 'c': 10, 'd': 2, 'e': 66, 'f': 1}

def check_key(d, k):
    status = True
    for x in d:
        if x == k:
            status = False
    if status == False:
        print('key already exists')
    else:
        print('key does not exist')

check_key(d, 'b')

key already exists

5. Write a Python program to iterate over dictionaries using for loops.

In [2]:
d = {'a': 4, 'b': 80, 'c': 10, 'd': 2, 'e': 66, 'f': 1}
d2 = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

def iterate_dicts(a, b):
    for x in a:
        for y in b:
            print(x, y)
            
iterate_dicts(d, d2)

a 1
a 2
a 3
a 4
a 5
a 6
b 1
b 2
b 3
b 4
b 5
b 6
c 1
c 2
c 3
c 4
c 5
c 6
d 1
d 2
d 3
d 4
d 5
d 6
e 1
e 2
e 3
e 4
e 5
e 6
f 1
f 2
f 3
f 4
f 5
f 6

6. Write a Python program to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x). 
Sample Dictionary ( n = 5) : 
Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [4]:
def make_dict(n):
    d = {}
    for x in range(1, n+1):
        d[x] = x * x
    return d
        
make_dict(5)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

7. Write a Python program to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are square of keys. 
Sample Dictionary 
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [5]:
d = {}

for x in range(1, 16):
    d[x] = x ** 2

d

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

8. Write a Python program to merge two Python dictionaries.

In [7]:
d = {'a': 4, 'b': 80, 'c': 10, 'd': 2, 'e': 66, 'f': 1}
d2 = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

def merge_d(a, b):
    for x in b.items():
        a[x[0]] = x[1]
    return a
        
merge_d(d, d2)

{'a': 4,
 'b': 80,
 'c': 10,
 'd': 2,
 'e': 66,
 'f': 1,
 1: 10,
 2: 20,
 3: 30,
 4: 40,
 5: 50,
 6: 60}

10. Write a Python program to sum all the items in a dictionary.

In [8]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

def sum_keys_and_vals(a):
    keysum = 0
    vsum = 0
    osum = 0
    for x in a.items():
        keysum += x[0]
        vsum += x[1]
        osum += (x[0] + x[1])
    print('sum of keys:', keysum, 'sum of values:', vsum, 'sum of keys and values:', osum)
        
sum_keys_and_vals(d)

sum of keys: 21 sum of values: 210 sum of keys and values: 231

11. Write a Python program to multiply all the items in a dictionary.

In [1]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

def prod_keys_and_vals(a):
    keyprod = 1
    vprod = 1
    oprod = 1
    for x in a.items():
        keyprod *= x[0]
        vprod *= x[1]
        oprod *= (x[0] + x[1])
    print('product of keys:', keyprod, 'product of values:', vprod, 'product of keys and values:', oprod)
        
prod_keys_and_vals(d)

product of keys: 720 product of values: 720000000 product of keys and values: 1275523920

12. Write a Python program to remove a key from a dictionary.

In [2]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

def del_key(d, k):
    del d[k]
    return d

del_key(d, 1)

{2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

13. Write a Python program to map two lists into a dictionary.

In [4]:
a = [1,2,3,4]
b = ['a', 'b', 'c', 'd']

def map_dict(l1, l2):
    d = {}
    for x in l1:
        for y in l2:
            d[x] = y
    return d

map_dict(a, b)

{1: 'd', 2: 'd', 3: 'd', 4: 'd'}

14. Write a Python program to sort a dictionary by key.

In [5]:
d = {3: 4, 100: 80, 50: 10, 30: 2, 1: 66, 20: 1}

copy = d.copy()

l = []

new_dict = {}

for x in copy:
    l.append(x)
    
l.sort()

for x in l:
    new_dict[x] = d[x]
    
new_dict

{1: 66, 3: 4, 20: 1, 30: 2, 50: 10, 100: 80}

15. Write a Python program to get the maximum and minimum value in a dictionary.

In [7]:
d = {'a': 4, 'b': 80, 'c': 10, 'd': 2, 'e': 66, 'f': 1}

v = d.values()

minv = min(v)
maxv = max(v)

print('Min value:', minv)
print('Max value:', maxv)

Min value: 1
Max value: 80

17. Write a Python program to remove duplicates from Dictionary.

In [9]:
d = {'a': 4, 'b': 80, 'c': 10, 'd': 2, 'e': 66, 'f': 1, 'a': 4}

i = d.items()

dict(i)

{'a': 4, 'b': 80, 'c': 10, 'd': 2, 'e': 66, 'f': 1}

19. Write a Python program to combine two dictionary adding values for common keys. 
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
Sample output: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [1]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

def add_dicts(a, b):
    for x in a:
        if x in b:
            a[x] += b[x]
    for y in b:
        if y not in a:
            a[y] = b[y]
    return a
            
add_dicts(d1, d2)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

20. Write a Python program to print all unique values from a list of dictionaroes. 
Sample Data : [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
Expected Output : Unique Values: {'S005', 'S002', 'S007', 'S001', 'S009'}

In [3]:
d = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]

def unique_vals(a):
    l = []
    l2 = []
    for x in a:
        l.append(list(x.values())) 
    for y in l:
        l2.append(y[0])
    return (set(l2))

unique_vals(d)

{'S001', 'S002', 'S005', 'S007', 'S009'}

21. Write a Python program to create and display all combinations of letters, selecting each letter from a different key in a dictionary. 
Sample data : {'1':['a','b'], '2':['c','d']}
Expected Output: 
ac
ad
bc
bd

In [5]:
d = {'1':['a','b'], '2':['c','d']}

def d_combo(d):
    
    l = []
    l2 = []

    for x in d.values():
        l.append(x)

    for y in enumerate(l):
        for z in enumerate(l):
            if y[0] != z[0]:
                l2.append((y[1],z[1]))
    
    return l2
        
d_combo(d)

[(['a', 'b'], ['c', 'd']), (['c', 'd'], ['a', 'b'])]

22. Write a Python program to find the highest n values in a dictionary.

In [6]:
d = {'a': 4, 'b': 80, 'c': 10, 'd': 2, 'e': 66, 'f': 1, 'a': 4}

def highest_n(d, n):

    l = []
    
    for x in d.values():
        l.append(x)

    l.sort(reverse = True)
    l = l[0:n]

    return l

highest_n(d, 3)

[80, 66, 10]

25. Write a Python program to print a dictionary in table format.

In [10]:
import pandas as pd

d = {'a': 4, 'b': 80, 'c': 10, 'd': 2, 'e': 66, 'f': 1, 'a': 4}

c = d.keys()

pd.DataFrame.from_dict(d.items())

   0   1
0  a   4
1  b  80
2  c  10
3  d   2
4  e  66
5  f   1

31. Write a Python program to get the key, value and item in a dictionary.

In [12]:
d = {'a': 4, 'b': 80, 'c': 10, 'd': 2, 'e': 66, 'f': 1, 'a': 4}

counter = 1

for x in d.items():
    print('item ' + str(counter) + ':', 'key =', str(x[0]) + ',', 'value =', str(x[1]) + ',', 'item =', x)
    counter += 1

item 1: key = a, value = 4, item = ('a', 4)
item 2: key = b, value = 80, item = ('b', 80)
item 3: key = c, value = 10, item = ('c', 10)
item 4: key = d, value = 2, item = ('d', 2)
item 5: key = e, value = 66, item = ('e', 66)
item 6: key = f, value = 1, item = ('f', 1)