# Dictionary Problems

1. Write a Python program to sort (ascending and descending) a dictionary by value.

In [1]:
d = {'a': 4, 'b': 80, 'c': 10, 'd': 2, 'e': 66, 'f': 1}

l = []

for x in d.items():
    l.append(x)
    
l = sorted(l, key=lambda x: x[1])

dict_list = dict(l)

dict_list

{'f': 1, 'd': 2, 'a': 4, 'c': 10, 'e': 66, 'b': 80}

2. Write a Python program to add a key to a dictionary. 

Sample Dictionary : {0: 10, 1: 20}
Expected Result : {0: 10, 1: 20, 2: 30}

In [2]:
d = {0: 10, 1: 20}

def addkey(d, k, v):
    d[k] = v
    return d

addkey(d, 2, 30)

{0: 10, 1: 20, 2: 30}

3. Write a Python program to concatenate following dictionaries to create a new one. 

Sample Dictionary : 
dic1={1:10, 2:20} 
dic2={3:30, 4:40} 
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [3]:
dic1 = {1:10, 2:20} 
dic2 = {3:30, 4:40} 
dic3 = {5:50,6:60}

def combine_d3(a, b, c):
    a.update(b)
    a.update(c)
    return a

combine_d3(dic1, dic2, dic3)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

4. Write a Python program to check whether a given key already exists in a dictionary.

In [1]:
d = {'a': 4, 'b': 80, 'c': 10, 'd': 2, 'e': 66, 'f': 1}

def check_key(d, k):
    status = True
    for x in d:
        if x == k:
            status = False
    if status == False:
        print('key already exists')
    else:
        print('key does not exist')

check_key(d, 'b')

key already exists

5. Write a Python program to iterate over dictionaries using for loops.

In [2]:
d = {'a': 4, 'b': 80, 'c': 10, 'd': 2, 'e': 66, 'f': 1}
d2 = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

def iterate_dicts(a, b):
    for x in a:
        for y in b:
            print(x, y)
            
iterate_dicts(d, d2)

a 1
a 2
a 3
a 4
a 5
a 6
b 1
b 2
b 3
b 4
b 5
b 6
c 1
c 2
c 3
c 4
c 5
c 6
d 1
d 2
d 3
d 4
d 5
d 6
e 1
e 2
e 3
e 4
e 5
e 6
f 1
f 2
f 3
f 4
f 5
f 6

6. Write a Python program to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x). 
Sample Dictionary ( n = 5) : 
Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [4]:
def make_dict(n):
    d = {}
    for x in range(1, n+1):
        d[x] = x * x
    return d
        
make_dict(5)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

7. Write a Python program to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are square of keys. 
Sample Dictionary 
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [5]:
d = {}

for x in range(1, 16):
    d[x] = x ** 2

d

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

8. Write a Python program to merge two Python dictionaries.

In [7]:
d = {'a': 4, 'b': 80, 'c': 10, 'd': 2, 'e': 66, 'f': 1}
d2 = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

def merge_d(a, b):
    for x in b.items():
        a[x[0]] = x[1]
    return a
        
merge_d(d, d2)

{'a': 4,
 'b': 80,
 'c': 10,
 'd': 2,
 'e': 66,
 'f': 1,
 1: 10,
 2: 20,
 3: 30,
 4: 40,
 5: 50,
 6: 60}

10. Write a Python program to sum all the items in a dictionary.

In [8]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

def sum_keys_and_vals(a):
    keysum = 0
    vsum = 0
    osum = 0
    for x in a.items():
        keysum += x[0]
        vsum += x[1]
        osum += (x[0] + x[1])
    print('sum of keys:', keysum, 'sum of values:', vsum, 'sum of keys and values:', osum)
        
sum_keys_and_vals(d)

sum of keys: 21 sum of values: 210 sum of keys and values: 231

11. Write a Python program to multiply all the items in a dictionary.

In [1]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

def prod_keys_and_vals(a):
    keyprod = 1
    vprod = 1
    oprod = 1
    for x in a.items():
        keyprod *= x[0]
        vprod *= x[1]
        oprod *= (x[0] + x[1])
    print('product of keys:', keyprod, 'product of values:', vprod, 'product of keys and values:', oprod)
        
prod_keys_and_vals(d)

product of keys: 720 product of values: 720000000 product of keys and values: 1275523920

12. Write a Python program to remove a key from a dictionary.

In [2]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

def del_key(d, k):
    del d[k]
    return d

del_key(d, 1)

{2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

13. Write a Python program to map two lists into a dictionary.

In [4]:
a = [1,2,3,4]
b = ['a', 'b', 'c', 'd']

def map_dict(l1, l2):
    d = {}
    for x in l1:
        for y in l2:
            d[x] = y
    return d

map_dict(a, b)

{1: 'd', 2: 'd', 3: 'd', 4: 'd'}

14. Write a Python program to sort a dictionary by key.

In [5]:
d = {3: 4, 100: 80, 50: 10, 30: 2, 1: 66, 20: 1}

copy = d.copy()

l = []

new_dict = {}

for x in copy:
    l.append(x)
    
l.sort()

for x in l:
    new_dict[x] = d[x]
    
new_dict

{1: 66, 3: 4, 20: 1, 30: 2, 50: 10, 100: 80}

15. Write a Python program to get the maximum and minimum value in a dictionary.

In [7]:
d = {'a': 4, 'b': 80, 'c': 10, 'd': 2, 'e': 66, 'f': 1}

v = d.values()

minv = min(v)
maxv = max(v)

print('Min value:', minv)
print('Max value:', maxv)

Min value: 1
Max value: 80

17. Write a Python program to remove duplicates from Dictionary.

In [9]:
d = {'a': 4, 'b': 80, 'c': 10, 'd': 2, 'e': 66, 'f': 1, 'a': 4}

i = d.items()

dict(i)

{'a': 4, 'b': 80, 'c': 10, 'd': 2, 'e': 66, 'f': 1}

19. Write a Python program to combine two dictionary adding values for common keys. 
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
Sample output: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [1]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

def add_dicts(a, b):
    for x in a:
        if x in b:
            a[x] += b[x]
    for y in b:
        if y not in a:
            a[y] = b[y]
    return a
            
add_dicts(d1, d2)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

20. Write a Python program to print all unique values from a list of dictionaroes. 
Sample Data : [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
Expected Output : Unique Values: {'S005', 'S002', 'S007', 'S001', 'S009'}

In [3]:
d = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]

def unique_vals(a):
    l = []
    l2 = []
    for x in a:
        l.append(list(x.values())) 
    for y in l:
        l2.append(y[0])
    return (set(l2))

unique_vals(d)

{'S001', 'S002', 'S005', 'S007', 'S009'}

21. Write a Python program to create and display all combinations of letters, selecting each letter from a different key in a dictionary. 
Sample data : {'1':['a','b'], '2':['c','d']}
Expected Output: 
ac
ad
bc
bd

In [5]:
d = {'1':['a','b'], '2':['c','d']}

def d_combo(d):
    
    l = []
    l2 = []

    for x in d.values():
        l.append(x)

    for y in enumerate(l):
        for z in enumerate(l):
            if y[0] != z[0]:
                l2.append((y[1],z[1]))
    
    return l2
        
d_combo(d)

[(['a', 'b'], ['c', 'd']), (['c', 'd'], ['a', 'b'])]

22. Write a Python program to find the highest n values in a dictionary.

In [6]:
d = {'a': 4, 'b': 80, 'c': 10, 'd': 2, 'e': 66, 'f': 1, 'a': 4}

def highest_n(d, n):

    l = []
    
    for x in d.values():
        l.append(x)

    l.sort(reverse = True)
    l = l[0:n]

    return l

highest_n(d, 3)

[80, 66, 10]

25. Write a Python program to print a dictionary in table format.

In [10]:
import pandas as pd

d = {'a': 4, 'b': 80, 'c': 10, 'd': 2, 'e': 66, 'f': 1, 'a': 4}

c = d.keys()

pd.DataFrame.from_dict(d.items())

   0   1
0  a   4
1  b  80
2  c  10
3  d   2
4  e  66
5  f   1

31. Write a Python program to get the key, value and item in a dictionary.

In [12]:
d = {'a': 4, 'b': 80, 'c': 10, 'd': 2, 'e': 66, 'f': 1, 'a': 4}

counter = 1

for x in d.items():
    print('item ' + str(counter) + ':', 'key =', str(x[0]) + ',', 'value =', str(x[1]) + ',', 'item =', x)
    counter += 1

item 1: key = a, value = 4, item = ('a', 4)
item 2: key = b, value = 80, item = ('b', 80)
item 3: key = c, value = 10, item = ('c', 10)
item 4: key = d, value = 2, item = ('d', 2)
item 5: key = e, value = 66, item = ('e', 66)
item 6: key = f, value = 1, item = ('f', 1)

32. Write a Python program to print a dictionary line by line.

In [1]:
d = {'a': 4, 'b': 80, 'c': 10, 'd': 2, 'e': 66, 'f': 1, 'a': 4}

def dict_line(a):
    
    for x in d.items():
        print(x)
        
dict_line(d)

('a', 4)
('b', 80)
('c', 10)
('d', 2)
('e', 66)
('f', 1)

33. Write a Python program to check multiple keys exists in a dictionary.

In [3]:
d = {'a': 4, 'b': 80, 'c': 10, 'd': 2, 'e': 66, 'f': 1, 'a': 4}

def check_keys(dct, l):
    
    counter = 0
    keycount = len(l)
    keylist = list(dct.keys())
    
    for x in l:
        if x in keylist:
            counter += 1
            
    if keycount == counter:
        print('All keys found in dictionary')
    else:
        print('Not all keys found in dictionary')
          
check_keys(d, ['a','c','b'])

All keys found in dictionary

34. Write a Python program to count number of items in a dictionary value that is a list.

In [4]:
d = {'a': 4, 'b': [4,5,6], 'c': 10, 'd': 2, 'e': 66, 'f':[1,2,3]}

def count_dicts(dct):
    counter = 0
    for x in d.items():
        if type(x[1]) == list:
            counter += 1
    return counter

count_dicts(d)

2

37. Write a Python program to replace dictionary values with their average.

In [5]:
dct = {'b': [4,5,6], 'f':[1,2,3]}

def avg_dict(d):
    temp_avg = 0
    for x in d.items():
        temp_avg = sum(x[1]) / len(x[1])
        d[x[0]] = temp_avg
    return d

avg_dict(dct)

{'b': 5.0, 'f': 2.0}

38. Write a Python program to match key values in two dictionaries. 
Sample dictionary: {'key1': 1, 'key2': 3, 'key3': 2}, {'key1': 1, 'key2': 2}
Expected output: key1: 1 is present in both x and y

In [7]:
d1 = {'key1': 1, 'key2': 3, 'key3': 2}
d2 = {'key1': 1, 'key2': 2} 

def match_keys(a, b):
    for x in a:
        if x in b:
            print(str(x) + ' exists in both dictionaries')
            
match_keys(d1,d2)

key1 exists in both dictionaries
key2 exists in both dictionaries

39. Write a Python program to store a given dictionary in a json file. 
Original dictionary:
{'students': [{'firstName': 'Nikki', 'lastName': 'Roysden'}, {'firstName': 'Mervin', 'lastName': 'Friedland'}, {'firstName': 'Aron ', 'lastName': 'Wilkins'}], 'teachers': [{'firstName': 'Amberly', 'lastName': 'Calico'}, {'firstName': 'Regine', 'lastName': 'Agtarap'}]}
<class 'dict'>
Json file to dictionary:
{'students': [{'firstName': 'Nikki', 'lastName': 'Roysden'}, {'firstName': 'Mervin', 'lastName': 'Friedland'}, {'firstName': 'Aron ', 'lastName': 'Wilkins'}], 'teachers': [{'firstName': 'Amberly', 'lastName': 'Calico'}, {'firstName': 'Regine', 'lastName': 'Agtarap'}]}

In [9]:
import json 

d = {'key1': 1, 'key2': 3, 'key3': 2}
         
with open("jfile.json", "w") as outfile: 
    json.dump(d, outfile)

41. Write a Python program to drop empty Items from a given Dictionary. 
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [1]:
d = {'key1': 1, 'key2': 3, 'key3': None}

l = []

for x in d.items():
    if x[1] == None:
        l.append(x[0])

for x in l:
    d.pop(x)

d

{'key1': 1, 'key2': 3}

43. Write a Python program to convert more than one list to nested dictionary. 
Original strings:
['S001', 'S002', 'S003', 'S004']
['Adina Park', 'Leyton Marsh', 'Duncan Boyle', 'Saim Richards']
[85, 98, 89, 92]
Nested dictionary:
[{'S001': {'Adina Park': 85}}, {'S002': {'Leyton Marsh': 98}}, {'S003': {'Duncan Boyle': 89}}, {'S004': {'Saim Richards': 92}}]

In [3]:
l1 = ['S001', 'S002', 'S003', 'S004'] 
l2 = ['Adina Park', 'Leyton Marsh', 'Duncan Boyle', 'Saim Richards'] 
l3 = [85, 98, 89, 92] 
d = {}

ziplist = dict(zip(l2, l3))

for x in enumerate(l1):
    for y in enumerate(ziplist):
        if x[0] == y[0]:
            d[x[1]] = ziplist[y[1]]
        
d

{'S001': 85, 'S002': 98, 'S003': 89, 'S004': 92}

45. Write a Python program to check all values are same in a dictionary. 
Original Dictionary:
{'Cierra Vega': 12, 'Alden Cantrell': 12, 'Kierra Gentry': 12, 'Pierre Cox': 12}
Check all are 12 in the dictionary.
True
Check all are 10 in the dictionary.
False

In [5]:
d = {'Cierra Vega': 12, 'Alden Cantrell': 12, 'Kierra Gentry': 12, 'Pierre Cox': 12}

def match_val_check(d, n):
    vals = [x for x in d.values()]
    vals = list(set(vals))
    if len(vals) > 1:
        print('not all values match')
    elif vals[0] != n:
        print('values match but are not ' + str(n))
    else:
        print('values all match and are equal to ' + str(n))
        
match_val_check(d, 12)

values all match and are equal to 12

50. A Python Dictionary contains List as value. Write a Python program to clear the list values in the said dictionary. 
Original Dictionary:
{'C1': [10, 20, 30], 'C2': [20, 30, 40], 'C3': [12, 34]}
Clear the list values in the said dictionary:
{'C1': [], 'C2': [], 'C3': []}

In [6]:
d = {'C1': [10, 20, 30], 'C2': [20, 30, 40], 'C3': [12, 34]} 

for x in d:
    d[x] = ''

d

{'C1': '', 'C2': '', 'C3': ''}

51. A Python Dictionary contains List as value. Write a Python program to update the list values in the said dictionary. 
Original Dictionary:
{'Math': [88, 89, 90], 'Physics': [92, 94, 89], 'Chemistry': [90, 87, 93]}
Update the list values of the said dictionary:
{'Math': [89, 90, 91], 'Physics': [90, 92, 87], 'Chemistry': [90, 87, 93]}

In [7]:
d = {'Math': [88, 89, 90], 'Physics': [92, 94, 89], 'Chemistry': [90, 87, 93]}

def update_dict(d, k, v):
    for x in enumerate(k):
        for y in enumerate(v):
            if x[0] == y[0]:
                d[x[1]] = y[1]
    return d

update_dict(d, ['Math', 'Physics'], [[89, 90, 91],[90, 92, 87]])

{'Math': [89, 90, 91], 'Physics': [90, 92, 87], 'Chemistry': [90, 87, 93]}

1) 1. Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument, also create a lambda function that multiplies argument x with argument y and print the result. 
Sample Output:
25
48

In [9]:
ladd = lambda n : n + 15
xy = lambda x, y: x * y

print('10 + 15 =',ladd(10))
print('3 * 2 =',xy(3,2))

10 + 15 = 25
3 * 2 = 6

2. Write a Python program to create a function that takes one argument, and that argument will be multiplied with an unknown given number. 
Sample Output:
Double the number of 15 = 30
Triple the number of 15 = 45
Quadruple the number of 15 = 60
Quintuple the number 15 = 75

In [2]:
nun = lambda n : n * 10
print('5 * mystery number =',nun(5))

5 * mystery number = 50

3. Write a Python program to sort a list of tuples using Lambda.
Original list of tuples:
[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
Sorting the List of Tuples:
[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

In [4]:
l = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

l.sort(key = lambda s: s[1])

l

[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]

4. Write a Python program to sort a list of dictionaries using Lambda. 
Original list of dictionaries :
[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]
Sorting the List of dictionaries :
[{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}]

In [6]:
d = [{'make': 'Nokia', 'model': 216, 'color': 'Black'}, {'make': 'Mi Max', 'model': '2', 'color': 'Gold'}, {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]

sorted(d, key = lambda x: x['make'])

[{'make': 'Mi Max', 'model': '2', 'color': 'Gold'},
 {'make': 'Nokia', 'model': 216, 'color': 'Black'},
 {'make': 'Samsung', 'model': 7, 'color': 'Blue'}]

1. Write a Python program that iterate over elements repeating each as many times as its count. 
Sample Output: ['p', 'p', 'p', 'p', 'q', 'q']

In [7]:
from collections import Counter, deque

c = Counter(d = 5, r = 7, x = 1)

[x for x in c.elements()]

['d', 'd', 'd', 'd', 'd', 'r', 'r', 'r', 'r', 'r', 'r', 'r', 'x']

2. Write a Python program to find the most common elements and their counts of a specified text. 
Original string: lkseropewdssafsdfafkpwe
Most common three characters of the said string:
[('s', 4), ('e', 3), ('f', 3)]

In [9]:
s = 'lksdjf;aslkfjsad;flkasjnsvlsvknlvknsldfijrit'

print(Counter(s).most_common(7))

[('s', 7), ('l', 6), ('k', 5), ('j', 4), ('f', 4), ('d', 3), ('a', 3)]

3. Write a Python program to create a new deque with three items and iterate over the deque's elements. 
Sample Output:
a
e
i
o
u

In [11]:
dq = deque('minecraftiscool')

[e for e in dq]

['m', 'i', 'n', 'e', 'c', 'r', 'a', 'f', 't', 'i', 's', 'c', 'o', 'o', 'l']