# Miscellaneous Problems

16. Write a Python program to add the digits of a positive integer repeatedly until the result has a single digit. 
Input : 48
Output : 3
For example given number is 59, the result will be 5.
Step 1: 5 + 9 = 14
Step 1: 1 + 4 = 5

In [1]:
def untilsingle(n):
    while len(str(n)) > 1:
        n = str(n)
        n = [c for c in n]
        n = [int(c) for c in n]
        n = sum(n)
    return n

untilsingle(99)

9

26. Write a Python program to check if a given string is an anagram of another given string.
Input : 'anagram','nagaram'
Output : True

In [3]:
def check_ana(s1, s2):
    s1 = [c for c in s1]
    s2 = [c for c in s2]
    s1.sort(), s2.sort()
    if s1 == s2:
        print('both words are anagrams of each other')
    else:
        print('the words are not anagrams of eacho ther')
    
check_ana('tac', 'cat')

both words are anagrams of each other

4. Create a Python project that prints out every line of the song "99 bottles of soda on the wall." Note: Try to use a built in function instead of manually type all the lines.

In [5]:
def soda_song():
    n = int(input('how many bottles of soda should we start with? '))
    while n >= 1:
        print(n, 'bottles of soda of the wall,', n, 'bottles of soda!')
        n -= 1
        if n == 0:
            print('No more soda!')

soda_song()

how many bottles of soda should we start with? 5
5 bottles of soda of the wall, 5 bottles of soda!
4 bottles of soda of the wall, 4 bottles of soda!
3 bottles of soda of the wall, 3 bottles of soda!
2 bottles of soda of the wall, 2 bottles of soda!
1 bottles of soda of the wall, 1 bottles of soda!
No more soda!

5. Create a Python project of a Magic 8 Ball which is a toy used for fortune-telling or seeking advice.

Allow the user to input their question.
Show an in progress message.
Create 10/20 responses, and show a random response.
Allow the user to ask another question/advice or quit the game.

In [6]:
import random

def magic8():
    q = input('what will you ask the magic 8 ball? ')
    a = 'yes'
    b = 'no'
    c = 'maybe'
    answer = random.choice([a,b,c])
    return answer

magic8()

what will you ask the magic 8 ball? Will I enjoy my breakfast tomorrow?

'yes'

2. Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels. Go to the editor 
Sample Python dictionary data and list labels:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [7]:
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)

df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

14. Write a Pandas program to calculate the mean score for each different student in DataFrame.

In [8]:
df['score'].groupby(df.name).mean()

name
Anastasia    12.5
Dima          9.0
Emily         9.0
James         NaN
Jonas        19.0
Katherine    16.5
Kevin         8.0
Laura         NaN
Matthew      14.5
Michael      20.0
Name: score, dtype: float64