Considering the string below, what is the character or substring returned by my_string[19] ?

my_string = "a0:12:90:00:80:43"

In [2]:
my_string = "a0:12:90:00:80:43"

my_string[19]

IndexError: string index out of range

Considering the string below, what is the character or substring returned by my_string[4:7] ?

my_string = "a0:12:90:00:80:43"

In [6]:
my_string = "a0:12:90:00:80:43"

my_string[4:7]

'2:9'

Considering the string below, what is the character or substring returned by my_string[:-4] ?


my_string = "a0:12:90:00:80:43"

In [7]:
my_string = "a0:12:90:00:80:43"

my_string[:-4]

'a0:12:90:00:8'

Insert a '-' to so that only the letter R is returned

In [8]:
my_string = "I love programming in Python more than Ruby or Perl"

print(my_string[-12])

R

Write a slice to print 0:00: from "a0:12:90:00:80:43"

In [10]:
my_string = "a0:12:90:00:80:43"

print(my_string[7:12])

0:00:

Write code to print 90:00 from "a0:12:90:00:80:43" using negative indexes

In [15]:
my_string = "a0:12:90:00:80:43"

print(my_string[-11:-6])

90:00

Write the coorect boolean operator inside the expression so that the final result will be false.

In [27]:
print(bool("Python 3")is  not(23 == 23))

False

Write a slice that will return the tuple and empty list only.

In [35]:
my_list = [22, 109, 'Apple', 11.2, 'Orange', 'Cherry', (10, 20, 30), [], False, 72, 'Kiwi', 0.0]

x = my_list[6:8]

print(x)

[(10, 20, 30), []]

Write code to add 'Python 3' to the end of the list.

In [36]:
my_list = [10, 'x', 20.02, 'y', 30j, 'z', False]

my_list.append('Python 3')

print(my_list)

[10, 'x', 20.02, 'y', 30j, 'z', False, 'Python 3']

Remove 'x' from the list.

In [37]:
my_list = [10, 'x', 20.02, 'y', 30j, 'z', False]

my_list.remove('x')

print(my_list)

[10, 20.02, 'y', 30j, 'z', False]

Sort the list without creating a new list

In [38]:
my_list = [10, -5, 20.02, 2018, 999]
 
my_list.sort()
 
print(my_list)

[-5, 10, 20.02, 999, 2018]

Considering the following sets in Python, how can you randomly remove an element from set1?

set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set2 = {2, 4, 6, 9}

In [49]:
set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

set1.pop()

1

Considering the following sets in Python, how can you remove all the elements of set2 using a single line of code?

set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set2 = {2, 4, 6, 9}

In [57]:
set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

set1.clear()

set1

set()

Considering the following sets in Python, how can you find out the elements in set2 that do not also belong to set1?

set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set2 = {2, 4, 6, 9}

In [58]:
set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set2 = {2, 4, 6, 9}

set2.difference(set1)

set()

Add a new element to an existing set.

In [63]:
set1.add(11)

set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

Write code to output elements in set 1 that are not in set 2.

In [65]:
set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

set2 = {2, 4, 6, 9}

set1.difference(set2)

{1, 3, 5, 7, 8, 10}